<style>
    body {
        background-image: url('/images/backLogin.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin: auto;
    }
</style>

<div class="container mt-3">
  <form action="/currencies/{{cc._id}}/edit?id={{userId}}" method="post">
    <legend>Insert Currency</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Name Item: </label>
      <input type="text" id="disabledTextInput" class="form-control" name="gem" placeholder="Name Item"
        value="{{cc.gem}}" />
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Price: </label>
      <input type="text" id="disabledTextInput" class="form-control" name="money" placeholder="Price"
        value="{{cc.money}}" />
    </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>

