<style>
    body {
        background-image: url('images/backLogin.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .custom-container {
        background-color: rgba(34, 34, 34, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .custom-heading {
        color: rgb(229, 169, 17);
    }

    .custom-btn {
        width: 50%;
        /* Đặt chiều rộng tùy ý, ví dụ là 50% */
        margin-left: auto;
        margin-right: auto;
    }
    .orange-text {
            color: orange;
        }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="custom-container">
                <form method="POST" action="/login" class="p-3">
                    <h2 class="mb-3 custom-heading">Login</h2>
                    {{#if error}}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {{/if}}
                    <div class="mb-3">
                        <label for="txtUsername" class="form-label" style="color: rgb(204, 204, 204)">Username:</label>
                        <input type="text" id="txtUsername" class="form-control" name="txtUsername" required>
                    </div>
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label" style="color: rgb(204, 204, 204)">Password:</label>
                        <input type="password" id="txtPassword" class="form-control" name="txtPassword" required>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary custom-btn">L o g i n</button>
                    </div>
                    <p class="mt-3" style="color: rgb(204, 204, 204)">If you don't have an account, you can sign up
                        here. <a href="/signup" class="orange-text">Sign up now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>