<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Edit Personal Information</h2>
            <form action="/{{nd._id}}/update" method="POST">
                {{#if error}}
                <div class="alert alert-danger mt-3">{{error}}</div>
                {{/if}}
                <div class="mb-3">
                    <label for="txtUsername" class="form-label">Username:</label>
                    <input type="text" id="txtUsername" class="form-control" name="txtUsername" value="{{nd.username}}"
                        required>
                </div>
                <div class="mb-3">
                    <label for="txtEmail" class="form-label">Email:</label>
                    <input type="email" id="txtEmail" class="form-control" name="txtEmail" value="{{nd.email}}"
                        required>
                </div>
                <div class="alert alert-warning mt-3">
                    <p>Nếu không thay đổi mật khẩu thì giữ nguyên phần dưới</p>
                </div>
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Old Password:</label>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                </div>
                <!-- Thêm trường để nhập mật khẩu mới -->
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password:</label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                </div>
                <!-- Thêm trường để xác nhận mật khẩu mới -->
                <div class="mb-3">
                    <label for="confirmNewPassword" class="form-label">Confirm New Password:</label>
                    <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword">
                </div>
                <button type="submit" class="btn btn-outline-success">Update</button>

            </form>

        </div>
    </div>
</div>