<style>
    body {
        background-image: url('images/backLogin.jpg');
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .custom-container {
        background-color: rgba(34, 34, 34, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .custom-heading {
        color: rgb(229, 169, 17);
    }

    .custom-btn {
        width: 50%;
        /* Đặt chiều rộng tùy ý, ví dụ là 50% */
        margin-left: auto;
        margin-right: auto;
    }
    .orange-text {
            color: orange;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="custom-container">
                <form action="/signup" method="post" class="p-3">
                    <h2 class="mb-3 custom-heading">Register</h2>
                     {{#if error}}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {{/if}}
                    <div class="mb-3">
                        <label for="username" class="form-label" style="color: rgb(204, 204, 204)">Username:</label>
                        <input type="text" class="form-control" id="username" name="txtUsername" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label" style="color: rgb(204, 204, 204)">Email:</label>
                        <input type="email" class="form-control" id="email" name="txtEmail" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" style="color: rgb(204, 204, 204)">Password:</label>
                        <input type="password" class="form-control" id="password" name="txtPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label" style="color: rgb(204, 204, 204)">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="txtConfirmPassword" required>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary custom-btn">R e g i s t e r</button>
                    </div>
                    
                    <p class="mt-3" style="color: rgb(204, 204, 204)">Already have an account? <a href="/login" class="orange-text">Log in now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
