<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="fixed-top">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/avatar.png);"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="#" onclick="goHome();">Home</a>
                </li>
                <li>
                    <a href="#" onclick="goLibrary();">Library</a>
                </li>
                <li class="active">
                    <a href="#" onclick="goRechange();">Rechange</a>
                </li>
                <li>
                    <a href="#" onclick="goHistory();">History</a>
                </li>
                <li>
                    <a class="btn btn-outline-dark" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
        <div class="box-header d-flex justify-content-between align-items-center">
            <h3 class="box-title"><b>R E C H A N G E</b></h3>
        </div><!-- /.box-header -->

        <div class="row">
            <div class="col-md-6">
                <div class="gem-price-info">
                    <p>G E M</p>
                    <p>P R I C E</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="grid-container">
                    {{#each rs}}
                    <div class="grid-item" onclick="goDetail('{{_id}}')">
                        <div class="gem-info">
                            <img src="images/gem.png" alt="Gem Icon" class="gem-icon">
                            <span class="gem-amount">{{gem}}</span>
                        </div>
                        <p class="money-amount">{{money}} VND</p>
                    </div>
                    {{/each}}
                </div>
            </div>


        </div>
    </div>
</div>


<script>
    const goLibrary = () => {
        const userId = extractUserIdFromURL();
        window.location.href = `/library?id=${userId}`;
    }
    function goHome() {
        const userId = extractUserIdFromURL();
        window.location.href = `/homeUser?id=${userId}`;
    } 
    const goRechange = () => {
        const userId = extractUserIdFromURL();
        window.location.href = `/rechange?id=${userId}`;
    }

    const goHistory = () => {
        const userId = extractUserIdFromURL();
        window.location.href = `/history?id=${userId}`;
    }

    const goLogout = () => {
        window.location.href = `/logout`;
    }

    const goDetail = (id) => {
        const userId = extractUserIdFromURL(); // Trích xuất ID người dùng từ URL hiện tại
        window.location.href = `/rechange/${id}?id=${userId}`;
    }


    function extractUserIdFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        const userId = urlParams.get('id');
        return userId;
    }

    

</script>

<style>
    .personal-info {
        border: 1px solid #000000;
        padding: 20px;
    }

    #content {
        margin-left: 300px;
    }

    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        transition: all 0.3s;
        background-color: #f5f5f5;
    }

    .grid-item:hover {
        background-color: #eee;
        box-shadow: 0 0 10px rgb(229, 169, 17);
    }

    .btn {
        margin-right: 10px;
    }

    .gem-info {
        display: flex;
        align-items: center;
    }

    .gem-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .gem-amount {
        font-weight: bold;
    }

    .money-amount {
        font-weight: bold;
    }

    .gem-price-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        background-color: rgb(255, 178, 35);
        color: #000000;
    }
</style>